<!DOCTYPE html>
<html>
    <head>
         <title>Home</title>
    </head>
    <body>
        <div>
            <h1>Welcome Home</h1>
            <a href="/addusers"> Register Member</a>
            <a href="/users"> Show Member</a>
            <a href="/Service"> add new service</a>
            <a href="/allservice">View all service</a>
            <a href="/bill">Billing details</a>
        </div>
    </body>
</html>