<!DOCTYPE html>
<html>
    <head>
        <title>Registration Table</title>
    </head>
    <body>
        <div class="container">
            <span>Id</span>         <input type="text">
            <span>Name</span>       <input type="text">
            <span>P-no</span>       <input type="text">
            <span>Gender</span>     <input type="text">
            <span>E-mail</span>     <input type="text">
            <span>Address</span>    <input type="text">
            <span>Password</span>   <input type="text">
            <button>submit</button>
        </div>
    </body>
</html>